<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OCR Server Flow</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">OCR Image Demo</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/drive_black.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>OCR with Drive</h1>
                        <hr class="small">
                        <span class="subheading">Hello, <%= user.displayName %>! Google server-to-server flow interface here.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p id="demoFormCommand">Supply an online image URL for conversion into text</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form onsubmit="return false" name="sentMessage" id="demoForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>URL</label>
                            <input type="text" class="form-control" placeholder="URL" id="image_url" required data-validation-required-message="Please enter your image url.">
                            <i id="demoFormSpinner" class="fa fa-circle-o-notch fa-spin fa-2x" style="position: absolute;right: -20px;top: 30%;color:rgba(0,0,0,0);z-index:10"></i>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" onclick="imageResolve()" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>
                <div id="demoResponse" style="display:none;">
                    <p>Your image supplied: <p>
                    <img src="" id="demoImage" />
                    <h2>Text Extracted from Component</h2>
                    <p id="demoOCRText"></p>
                    <iframe src="" id="demoAddress" style="width:100%;height:600px;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">

                    </ul>
                    <p class="copyright text-muted">&copy; IS471- Textalytics. Melvrick Goh</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/clean-blog.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/ImageResolver.js"></script>

    <script>
      var XHR = function(connType,address,callback){
        var xhr;
        if(window.XMLHttpRequest){
          xhr = new XMLHttpRequest();
        }else{
          xhr = new ActiveXObject('Microsoft.XMLHTTP');
        }
        xhr.open(connType, address, true);
        xhr.onreadystatechange = function() {
          if(xhr.readyState == 4 && xhr.status==200){
            callback(xhr.responseText);
          }
        };

        xhr.send();
      }

      var resolver = new ImageResolver();
      resolver.register(new ImageResolver.FileExtension());
      resolver.register(new ImageResolver.MimeType());
      resolver.register(new ImageResolver.Opengraph());
      resolver.register(new ImageResolver.Webpage());

      function imageResolve(){
        var image_url = $('#image_url').val();
        showDemoFormSpinner();
        resolver.resolve( image_url, function( result ){
            if ( result ) {
                var image_name = /(?!\/)([A-Z0-9_-]{1,}\.(?:png|jpg|gif|jpeg))/i.exec(result.image)[0];
                XHR('GET','/api/ocr/serverUploadImage?image_link='+result.image+'&image_name='+image_name,function(responseText){
                    var responseData = JSON.parse(responseText);
                    hideDemoForm();
                     loadDemoResponse(result.image);
                    if (responseData.error){
                        var ocrResultantText = document.getElementById('demoOCRText');
                        ocrResultantText.innerHTML = responseData.error_message;
                    }else{
                        var iframeDoc = document.getElementById('demoAddress');
                        iframeDoc.src = responseData.alternateLink;
                        var ocrResultantText = document.getElementById('demoOCRText');
                        ocrResultantText.innerHTML = responseData.ocrText;
                    }
                    toggleDemoFormSpinner();
                });
            } else {
                $('#image_url').val('Invalid image url. Please try again');
                toggleDemoFormSpinner();
            }
        });
      }

      var toggleDemoFormSpinner = function(){
        var demoSpinner = $('#demoFormSpinner');
        if (demoSpinner.css('color') == 'rgba(0,0,0,0)') {
            demoSpinner.css('color','rgba(0,0,0,0.8)');
        }else{
            demoSpinner.css('color','rgba(0,0,0,0)');
        }
      }

      var showDemoFormSpinner = function(){
        $('#demoFormSpinner').css('color','rgba(0,0,0,0.8)');
      }

      var hideDemoForm = function(){
        $('#demoForm').css('display','none');
        $('#demoFormCommand').css('display','none');
      }

      var loadDemoResponse = function(imageData,result){
        $('#demoResponse').css('display','block');

        var demoImage = document.getElementById('demoImage');
        demoImage.src = imageData;
        //$('#demoImage').attr('src',imageData);
      }
    </script>

</body>

</html>
